[Unit]
Description=SIGINT Policy Enforcer
After=sigint-analyzer.service

[Service]
Type=exec
ExecStart=/usr/lib/sigint/sigint-enforcer
Restart=always
RestartSec=1

User=sigint-enforcer
Group=sigint

CapabilityBoundingSet=CAP_SYS_ADMIN
AmbientCapabilities=CAP_SYS_ADMIN
NoNewPrivileges=true

ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateNetwork=true
RestrictNamespaces=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectHostname=true

RuntimeDirectory=sigint
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target
